body{
    margin: 0;
    padding: 0;
    background-color: #27282C;

}

ul{
list-style: none;
font-family:Verdana, Geneva, Tahoma, sans-serif;
color: white;

}
.dev{
color: rgb(141, 141, 141);
}

.navbar{
background-color: #27282C;
padding: 15px;
max-width: 100%;
display: flex;
align-items: center;
position: relative;
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
li{
    display: inline-block;
    justify-content: space-between;
    font-size: 20px;
    margin-left: 25px;
}
.logo{
    background-image: url('logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    margin: 5px;
}
.discord{
    background-image: url('discord.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
position: absolute;
right: 10px;
top: 15px;
margin-right: 30px;
}

.robuxTaxCalculator{
width: 900px;
height: 500px;
margin: 0 auto;
color: white;
background-color: black;
padding: 20px;
margin-top: 50px;
border-radius: 20px;

position: relative;
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}
.resultBox{
    border: 1px solid green;
width: 300px;
height: 300px;
}
h2{
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    margin: 0 0 20px;
}

button{
    width: 150px;
    height: 40px;
    color: white;
    margin: 0 5px;
    font-size: 15px;
    font-family: sans-serif;
    border-radius: 5px;
    border: none;
    background-color: rgb(99, 99, 99);

}
.elements{
     position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

