body{
    margin: 0;
    padding: 0;
    background-color: #27282C;

}

ul{
list-style: none;
font-family:Verdana, Geneva, Tahoma, sans-serif;
color: white;

}
.dev{
color: rgb(141, 141, 141);
}

.navbar{
background-color: #27282C;
padding: 15px;
max-width: 100%;
display: flex;
align-items: center;
position: relative;
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
li{
    display: inline-block;
    justify-content: space-between;
    font-size: 20px;
    margin-left: 25px;
}
.logo{
    background-image: url('logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    margin: 5px;
}
.discord{
    background-image: url('facebook.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
position: absolute;
right: 10px;
top: 15px;
margin-right: 30px;
}

.robuxTaxCalculator{
width: 900px;
height: 600px;
margin: 0 auto;
color: white;
background-color: black;
padding: 20px;
margin-top: 50px;
border-radius: 20px;
text-align: center;
position: relative;
transition: all 0.2s ease-in-out;
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

.robuxTaxCalculator:hover{
    box-shadow: rgba(183, 183, 183, 0.4) 0px 30px 60px, rgba(0, 0, 0, 0.3) 0px 18px 36px;
    transition: all 0.3s ease-in-out;
}





.resultBox{
    margin-top: 20px;
    border: 3px solid green;
width: 600px;
height: 190px;
padding: 25px;
border-radius: 10px;
position: relative;
align-items: center;
justify-content: center;
display: flex;
}
h2{
    display: inline-block;   
    font-size: 50px;
    font-family: sans-serif;
    font-weight: lighter;
    margin: 0 0 20px;
    text-align: center;
  
}

button{
    width: 150px;
    height: 40px;
    color: white;
    margin: 0 5px;
    font-size: 15px;
    font-family: sans-serif;
    border-radius: 5px;
    border: none;
    background-color: rgb(99, 99, 99);
     margin-bottom: 20px;
    cursor: pointer;
}
.elements{
     position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.robux-icon{
        position: relative;
         display: flex;
    align-items: center;
    justify-content: center;
}
.robux-image{
    position: absolute;
    left: 190px;
    top: 10px;
    background-image: url('https://devforum-uploads.s3.dualstack.us-east-2.amazonaws.com/uploads/original/4X/c/2/f/c2fc0404eeb8d393407bdaebe2cc9994a8953550.png');
     background-repeat: no-repeat;
     background-size: cover;
    width: 30px;
    height: 30px;
}

input{
    width: 250px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 30px;
    border: none;
    padding: 10px 15px 10px 45px; /* space for the icon */

}
p{
position: absolute;
top: 10px;
    font-size: 20px;
    font-family: sans-serif;
    color: gray;
}



.linkSection{
display: flex;
gap: 20px;
margin: 50px;
align-items: center;
justify-content: center;
padding: 20px;
position: relative;

}



.facebookLink, .updatingSoon{
width: 430px;
height: 600px;
color: white;
background-color: black;
padding: 20px;
border-radius: 20px;
text-align: center;
    transform: scale(1);
    cursor: pointer;
     transition: all 0.3s ease-in-out;

}

.facebookLink:hover, .updatingSoon:hover{
    transform: scale(1.05);
     transition: all 0.3s ease-in-out;
}

.ResultRbx{
    font-family: sans-serif;
    color: white;
    font-size: 50px;
    font-weight: bold ;
    margin-left: 20px;
}


.text1{
    font-family: sans-serif;
    font-size: 60px;
    bottom: 1px;
    position: absolute;
    text-align: justify;
}
.text2{
    font-family: sans-serif;
    font-size: 60px;
    bottom: 1px;
    position: absolute;
    text-align: justify;
}


.facebookLink:hover .text1{
    color: #3b5998;
    transition: all 0.3s ease-in-out;
}
.fb{
    background-image: url('sais.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60%;
    border-radius: 10px;
}



.iconContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.rbxIcon{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Robux_2019_Logo_gold.svg/941px-Robux_2019_Logo_gold.svg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.footer{
    width: 100%;
    height: 50px;
    background-color:#27282C;
color: white;
bottom: -100;
position: absolute;
padding: 20px;
display: flex;
box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;}



.img{
    background-image: url('groups.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

}





@media (max-width: 576px) {
.robuxTaxCalculator{
    width: 80%;
}
.resultBox{
    width: 85%;
    max-width: 800px;
}
.robux-image{
      position: absolute;
    left: 30px;
    top: 10px;
    background-image: url('https://devforum-uploads.s3.dualstack.us-east-2.amazonaws.com/uploads/original/4X/c/2/f/c2fc0404eeb8d393407bdaebe2cc9994a8953550.png');
     background-repeat: no-repeat;
     background-size: cover;
    width: 30px;
    height: 30px;
}
.ResultRbx{
    font-size: 30px;
    display: inline-block;
}
.navbar{
    flex-direction: column;
    height: auto;
    width: 100%;
    position: relative;
}
.logo{
    position: absolute;
    left: 0;
    top: 6px;
}
.discord{
    opacity: 0;
}

.h2{
    font-size: 20px;
}
.linkSection{
        display: flex;
    flex-direction: column;
    margin: 3;
}

.facebookLink, .updatingSoon{
    width: 100%;
    height: 300px;
}
.rbxIcon{
    width: 30px;
    height: 30px;
}

.text1{
    font-size: 30px;
    bottom: 10px;
}
.facebookLink:hover .text1{
    color: #3b5998;
        transition: all 0.3s ease-in-out;
}
}

@media (max-width:348px) {
    .robuxTaxCalculator{
    width: 75%;
}

h2{
    font-size: 35px;
}
button{
    width: 120px;
    height: 35px;
    font-size: 12px;
}

input{
    width: 200px;
    height: 25px;
    font-size: 16px;
    padding: 8px 12px 8px 40px; /* space for the icon */
}



.resultBox{
    width: 85%;
    max-width: 800px;
}
.robux-image{
      position: absolute;
    left: 30px;
    top: 10px;
    background-image: url('https://devforum-uploads.s3.dualstack.us-east-2.amazonaws.com/uploads/original/4X/c/2/f/c2fc0404eeb8d393407bdaebe2cc9994a8953550.png');
     background-repeat: no-repeat;
     background-size: cover;
    width: 30px;
    height: 30px;
}
.ResultRbx{
    font-size: 30px;
    display: inline-block;
}
.navbar{
    flex-direction: column;
    height: auto;
    width: 100%;
    position: relative;
}
.logo{
    position: absolute;
    left: 0;
    top: 6px;
}
.discord{
    opacity: 0;
}

.h2{
    font-size: 20px;
}
.linkSection{
        display: flex;
    flex-direction: column;
    margin: 3;
}

.facebookLink, .updatingSoon{
    width: 100%;
    height: 300px;
}
.text1{
    font-size: 30px;
    bottom: 10px;
}
.facebookLink:hover .text1{
    color: #3b5998;
        transition: all 0.3s ease-in-out;
}
}










